/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/logs/*
!/storage/framework/views/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/vendor
.env
.env.*
.env.backup
.env.production_backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
